@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fc-event {
  background-color: green !important; /* Definiši boju pozadine događaja */
  color: white !important; /* Tekst na događaju */
  border: 1px solid darkgreen !important; /* Granica događaja */
  border-radius: 4px !important; /* Zaobljeni ivice */
  padding: 2px 4px !important; /* Razmak unutar događaja */
}

.fc-daygrid-event {
  display: block !important; /* Osigurava da događaji nisu prikazani kao tačke */
}

.fc-daygrid-event-dot {
  display: none !important; /* Sakrij tačke ako postoje */
}
